.autoSuggest__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  width: 100%;
  align-items: center;
}

.tags-container {
    display: block;
    width: 80%;
    margin-top: 32px;
  
    &__tags {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 100%;
      max-height: 0;
      overflow: hidden;
    }
    &__tags-open {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 100%;
      animation: showTagContainer 0.6s ease-in-out forwards;
      overflow: hidden;
    }
    &__tags-closed {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 100%;
      max-height: 0;
      animation: hideTagContainer 0.6s ease-in-out;
      overflow: hidden;
    }
    .closed {
      animation: hideTagContainer 0.6s ease-in-out;
    }
  }

  @keyframes showTagContainer {
  0% {
    max-height: 0;
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    max-height: 200px;
  }
}

@keyframes hideTagContainer {
  0% {
    max-height: 185px;
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    max-height: 0;
  }
}