@import "../../colors.scss";

$toggle-treadmill: url("../../../assets/treadmill-icon.png");
$toggle-running: url("../../../assets/running-icon.png");
$toggle-kmh: url("../../../assets/kmh-icon.png");
$toggle-mph: url("../../../assets/mph-icon.png");
$toggle-cm: url("../../../assets/cm-icon.png");
$toggle-in: url("../../../assets/in-icon.png");

.toggle-container {
  display: flex;
  align-items: center;
  margin-right: 8px;
  gap: 8px;
  span {
    font-family: 'EudoxusRegular', 'sans-serif';
    font-size: 1.3rem;
    color: $light-font-color;
  }
}

.toggle-switch {
  font-size: 14px;
  appearance: none;
  width: 6em;
  height: 3.2em;
  border-radius: 3.2em;
  background-color: $background-color;
  box-shadow: 0 0 10px rgba(black, 0.8) inset;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.26s ease-in-out;
  position: relative;
}

.toggle-switch:checked {
  background-color: $background-color;
}

.toggle-switch::after {
  content: "";
  width: 3.2em;
  height: 3.2em;
  background-color: $accent-color;
  background-size: contain;
  background-position: center;
  border-radius: 3.2em;
  position: absolute;
  transform: scale(0.7);
  left: 0;
  transition: all 0.26s ease-in-out;
  box-shadow: 0 0.12em rgba(0, 0, 0, 0.8);
}

.toggle-switch:checked::after {
  left: 2.8em;
  background-color: $primary-color;
  background-size: contain;
  background-position: center;
}

.speed-toggle::after {
  @extend .toggle-switch;
  @extend ::after;
  background-image: $toggle-kmh;
}

.speed-toggle:checked::after {
  @extend .toggle-switch;
  @extend :checked;
  @extend ::after;
  background-image: $toggle-mph;
}

.height-toggle::after {
    @extend .toggle-switch;
    @extend ::after;
    background-image: $toggle-cm;
  }
  
  .height-toggle:checked::after {
    @extend .toggle-switch;
    @extend :checked;
    @extend ::after;
    background-image: $toggle-in;
  }