$background-color: #004d37;
$primary-color: #00a873;
$secondary-color: #00291e;
$accent-color: #e20e75;
$dark-accent-color: #290a1d;
$dark-font-color: #00291e;
$light-font-color: #e1fff0;
$spotify-green: #1DB954;
