@import "./components/colors.scss";

@font-face {
  font-family: "RussoOne";
  src: url("./assets/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/wotfard-regular-webfont.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  margin-top: 128px;
}

.title {
  font-family: "RussoOne", "sans-serif";
  margin-left: -32px;
  font-size: 8rem;
  font-weight: 800;
  color: $light-font-color;
  line-height: 1;
  z-index: 2;
}

.subtitle {
  font-family: "RussoOne", "sans-serif";
  margin-left: -32px;
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: $primary-color;
  margin-bottom: 100px;
  z-index: 2;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-self: center;
  align-items: center;
  background: linear-gradient(120deg, $primary-color -35%, rgba($secondary-color, 0.5) 70%);
  width: 100%;
  height: fit-content;
  margin-bottom: 16px;
  padding: 32px;
  border-radius: 16px;
  gap: 32px;
  box-shadow: 0 0 32px rgba($secondary-color, 0.95);
  transition: height 0.2s ease-in-out;

  &__header {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 3;

    span {
      font-size: 0.8rem;
      color: rgba($light-font-color, 0.7);
      text-shadow: 0 0 4px black;
    }
  }

  &__form {
    width: 100%;
  }

  &__input-container {
    display: flex;
    width: 100%;
    z-index: 3;
  }

  &__input-text-container {
    width: 100%;
    z-index: 3;
  }

  &__input-text {
    width: 100%;
    font-family: "Wotfard", "sans-serif";
    font-size: 1.2rem;
    font-weight: 600;
    height: 32px;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 16px;
    z-index: 3;
  }

  &__input-text::placeholder {
    font-style: italic;
  }

  &__input-text-disabled {
    width: 100%;
    height: 32px;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 16px;
    font-size: 1.2rem;
  }

  &__button {
    border: none;
    border-radius: 16px;
    font-family: "Wotfard", "sans-serif";
    font-size: 0.9rem;
    font-weight: 600;
    padding: 16px;
    background: $accent-color;
    color: white;
    cursor: pointer;
    z-index: 3;
  }

  &__button:disabled {
    border: none;
    border-radius: 16px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 16px;
    background: $secondary-color;
    color: $primary-color;
  }
}

.search-box::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 1px solid transparent;
  background: linear-gradient(120deg, rgba($light-font-color, 0.3), transparent) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  transition: height 0.2s ease-in-out;
  z-index: -10;
}

.results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0;
  gap: 16px;
}

.spotify-login-button {
  background: $spotify-green;
  justify-self: flex-end;
  border: none;
  max-width: 200px;
  padding: 12px;
  border-radius: 50px;
  color: $dark-font-color;
  font-family: "Wotfard", "sans-serif";
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 6;
}

.spotify-login-button:active {
  box-shadow: 0 0 0 0;
  position: relative;
  top: 4px;
}

.user-name {
  color: $light-font-color;
  align-self: flex-start;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.tools-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 3;

  .setting-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;

    &__input {
      width: 80px;
      font-family: "Wotfard", "sans-serif";
      font-size: 1.2rem;
      font-weight: 400;
      height: 16px;
      border-radius: 32px;
      outline: none;
      border: none;
      padding: 16px;
      z-index: 3;
    }

    &__input::placeholder {
      font-size: 1rem;
      padding-left: 8px;
      font-style: italic;
    }
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
