@import "./components/colors.scss";

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90svw;
  height: 100svh;
  min-width: 0;
  font-family: "EudoxusRegular", "san-serif";
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  background-color: $dark-font-color;
  box-shadow: 0 0 4px rgba(black, 0.4) inset;
}

body::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: linear-gradient(130deg, $accent-color 20%, $dark-accent-color 100%) padding-box,
    linear-gradient(130deg, #ff459f 20%, transparent 100%) border-box;
  box-shadow: 0 0 4px black;
  border: 1px solid transparent;
}

.curtain-on {
  position: absolute;
  background: black;
  width: 100svw;
  height: 100svh;
  z-index: 100000;
  backdrop-filter: blur(40px);
  animation: intro 2s ease forwards;
}

@keyframes intro {
  100% {
    background: transparent;
    backdrop-filter: blur(0);
  }
}

.main-container {
  background: linear-gradient(180deg, $background-color, $dark-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100svw;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100%;
  background-image: url("./assets/halftone2.png");
  background-size: percentage(1.5);
  filter: invert(0.5);
  mix-blend-mode: multiply;
  opacity: 0.1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.footer-link {
  color: $light-font-color;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 1rem;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
}

.header-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid $accent-color;
  width: 100vw;
  height: 500px;
  background-image: url("./assets//runningBg.png");
  background-size: cover;
  background-position: left 0 top 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.75) inset;

  .title-container {
    display: flex;
    flex-direction: column;
    .title {
      font-family: "RussoOne", "sans-serif";
      margin-left: -32px;
      font-size: 8rem;
      font-weight: 800;
      color: $accent-color;
      background: linear-gradient(130deg, $accent-color 0%, $dark-accent-color 100%) padding-box,
        linear-gradient(130deg, #ff459f 0%, transparent 100%) border-box;
      background-clip: text;
      text-shadow: 2px 2px 8px rgba(black, 0.35);
      line-height: 1;
      z-index: 2;
    }

    .subtitle {
      align-self: flex-start;
      font-family: "RussoOne", "sans-serif";
      margin-left: -32px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.8rem;
      font-weight: 400;
      color: $light-font-color;
      text-shadow: 0 0 4px rgba(black, 0.5);
      z-index: 2;
    }
  }
}
