@media (max-width: 768px) {
  body {
    width: 100svw;
  }
  .App {
    width: 75svw;
    margin-top: 2rem;
  }

  .main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100%;
    background-image: url("./assets/halftone2.png");
    background-size: percentage(2);
    filter: invert(0.5);
    mix-blend-mode: multiply;
    opacity: 0.1;
  }

  .title {
    font-size: clamp(3rem,18vw,5rem);
  }
  .subtitle {
    font-size: 1.3rem;
    margin-bottom: 32px;
  }
  .results-list {
    align-self: center;
  }

  .tools-container {
    flex-direction: column;
    
    .setting-container {
      align-items: flex-end;
    }
  }
}
