@import "../../colors.scss";

.song {
  --rim-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  gap: 8px;
  background: $secondary-color;
  box-shadow: 0 0 8px 4px $secondary-color;
  position: relative;
  z-index: 1;
  transition: all 0.7s ease-in-out;

  &__info {
    display: flex;
    gap: 16px;
  }

  &__artist-image {
    border-radius: 10px;
    height: 140px;
    width: 140px;
    object-fit: cover;
    z-index: 3;
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 3;

    &-title {
      font-family: 'EudoxusRegular', 'sans-serif';
      font-size: 1.4rem;
      font-weight: 600;
      z-index: 3;
      word-wrap: break-word;
    }

    &-artist-name {
      font-family: 'EudoxusRegular', 'sans-serif';
    }
    &-tempo {
      font-size: 0.8rem;
      font-weight: 600;
    }
    &-tags-container {
      display: flex;
    }
  }

  &__add-song-button {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    border: none;
    position: relative;
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
    &-icon{
      width: 45%;
      height: auto;
    }
  }

  &__add-song-button:hover {
    filter: brightness(1.7);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    scale: 1.05;
  }

  &__add-song-button:active {
    scale: 0.9;
    box-shadow: none;
  }
}

.song > span {
  color: $light-font-color;
  z-index: 3;
}

.song::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 14px;
  border: 1px solid transparent;
  background: linear-gradient(120deg, rgba(var(--rim-color), 1), transparent) border-box;
  mix-blend-mode: normal;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -10;
}
