@media (max-width: 768px) {
    .song {
        width: 100%;
        &__artist-image {
            width: 90px;
            height: 90px;
        }
        &__info {
            width: 80%;
        }
        &__add-song {
            width: 20%;
        }
        &__details-title {
            font-size: 1.2rem;
        }
        &__details-tags-container {
            display: flex;
            flex-wrap: wrap;
            max-width: 250px;
          }
    }
}